.css-1zts0j {
    font-size: 15px !important;
}

thead .css-0 {
    background-color: var(--bgc) !important;
    border-radius: 5px;
}

tbody tr:last-child td {
    border: none !important;
}

.css-xumdn4 {
    padding: 10px !important;
}

.pagination {
    @apply flex justify-center items-center gap-4
}

.page-item a{
    @apply border border-primary rounded-full w-8 h-8 flex justify-center items-center
}

.page-item.active a{
    @apply border bg-primary text-white
}