@use "../../scss/abstracts/" as *;
@use "sass:math";

.sidebar {
  @include flex(stretch, center);
  flex-direction: column;
  background-color: var(--bgc);
  color: var(--text-color) !important;
  // border: 1px solid blue;
  width: $sideBarOpenWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;

  &.sidebar_close {
    width: 50px;

    @include tablet {
      width: 100%;
    }
  }


  @include tablet {
    width: 100vw;
    z-index: 1;
    background-color: var(--secondaryColor);
    color: #ebebeb !important;
  }

  &__logo {
    // @include flex();
    // width: $sideBarLogoHeight;
    text-align: center;
    padding: 0 12px 2rem;

    img {
      --size: 7.5rem;
      width: var(--size);
      height: var(--size);
    }

    @include tablet {
      padding-top: 1rem;
    }

    @include mobile {
      padding-top: 0.5rem;
    }
  }

  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow: 1;

    &__item {
      @include flex(center, flex-start);
      position: relative;
      padding: 10px 0px;
      transition: all 0.3s ease-in-out;
      font-size: 17px;

      &:hover {
        color: var(--primaryColor);
      }

      &.active {
        color: var(--primaryColor);
        padding-left: 20px;
        padding-right: 4px;
        font-weight: 600;

        &::before {
          content: "";
          width: 4px;
          height: 100%;
          background-color: var(--primaryColor);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          position: absolute;
          left: 0;
          top: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          right: 0;
        }
      }

      &__icon {
        @include flex(center, center);
        margin: 0 1rem;

        svg {
          width: $smallIconSize;
          height: $smallIconSize;
        }
      }

      &__txt {
        white-space: nowrap;
        user-select: none;
      }
    }

    &__subMenu {
      overflow: hidden;
      background-color: var(--bgc50);
      transition: height .35s ease;
    }

  }

  &.sidebar_close .sidebar__logo {
    width: 46px;
    margin-right: 10px;
    overflow: hidden;

    @include tablet {
      width: auto;
    }


  }

  .sidebar__logo {
    min-height: 120px;
    @include flex(center, center);
  }
}

.logout {
  align-self: flex-end;
}